@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-items: center;
  gap: 10px;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  transform: scale(1);
  vertical-align: middle;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease;
  margin-bottom: 10px
  
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 1px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #080606;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

.span-disabled{
  color: rgba(255,255,255,0.5);
}

.checkbox-wrapper-46 .cbx:hover .border-disabled:first-child {
  border-color: rgba(255,255,255,0.5);
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}


/* .caret-custom{
  caret: 3px;
  caret-shape: bar;
} */

@layer utilities {
  /* Scroll customizado */
  .scrollbar::-webkit-scrollbar {
    width: 22px;
    height: 8px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #4f4f4f; /* gray-500 */
    border-radius: 9999px;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #262626; /* gray-500 */
    border-radius: 9999px;
    cursor: pointer;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #302f2f; /* gray-200 */
  }
  
}
@layer utilities {
  .scrollbar-gutter {
    scrollbar-gutter: stable both-edges;
  }
}